<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Main</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="vendors/feather/feather.css">
    <link rel="stylesheet" href="vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" type="text/css" href="js/select.dataTables.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="css/vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="images/favicon.png" />
</head>
<body>

<div id="heading" class="d-flex justify-content-center m-4">
    <h1>
        Search Restaurant
        <small class="text-muted">
            My Food List
        </small>
    </h1>
</div>

<div id="search-group" class="d-flex justify-content-center m-2">
    <div class="form-group w-50">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search Keyword.....">
            <div class="input-group-append">
                <button class="btn btn-sm btn-primary" type="button">Search</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>